html {
    display: block;
}

.part1 {
    background-color: rgba(16, 16, 53, 0.932);
    color: rgba(240, 248, 255, 0.934);
    margin: -8px;
    padding: 20px;
  }

.nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .Link {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-right: 100px;
  }
  
  .website {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  
  .subtext {
      display: flex;

  
  }
  
  .placeholder {
    display: flex;
    justify-content: center;
    padding-right: 100px;
  }
  
  
  .button {
    display: flex;
    justify-content: center;
  
  }

  .part2 {
      height: auto;
      width: auto;
      color: rgba(0, 0, 0, 0.927);
      text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      border: 2px solid blue;
     }

  .info {
      max-width: 200px;
  }

  .part3 {
    background: rgba(159, 161, 163, 0.363);
    max-width: auto;
    height: 300px;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box {
      font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 600px;
    height: 80px;
  }

  .part4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background: rgba(9, 87, 231, 0.767);
    height: 80px;
    width: 700px;
    border-radius: 5px;
    margin: 100px;
  }